body{
    text-align: center;
}

.board{
    margin-top: 5vh;
    margin-left: 37vw;
    font-size: 6vmax;
}

h1{
    margin-top: 20vh;
}

.row{
    clear: both;
}

.top{
    border-bottom: 0.4vmin red solid;
}

.buttom{
    border-top: 0.4vmin red solid;
}

.left{
    border-right: 0.4vmin red solid;
}

.right{
    border-left: 0.4vmin red solid;
}

.row > div{
    
    height: 7vmax;
    width: 8vmax;
    float: left;
    cursor: pointer;

    /* border: 1px black solid; */
}